{% extends 'blog/base.html' %}
{% block content %}
<h2>My Blog Page</h2><br>
<p>It has links to my other Portfolios.</p>
<p>I have created this blog using concepts of Django MVT Architecture, Class Views, URL
routing, Object Relational Mappers, Database Migrations and Worked with Static files. </p>
<p>The blog contains a few books read by me.</p>
<p>The registered user can login.</p>
<p>The authorized user can add and delete the books, approve or delete the comments by visitors.</p>
<p>The visitor can comment on the books in the blog.</p>
<p>The comments from the visitor needs to be approved by the authorized user to be displayed.</p>
{% endblock %}
